body{
    background-image:url('contact_us.png'); 
    background-repeat: no-repeat;
  background-size: 1540px 754px; 
}

.container{ 
float: right;
margin-right:15%;
margin-top: 7%;
padding: 40px;
 }
#heading
{
   font-size: 27px;
   font-family: 'Questrial', sans-serif;
   color:rgb(0, 0, 0);

}
 #contact{
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
  
 }
 #email{
 font-size: 20px;
 font-family: 'Questrial', sans-serif;
 
 }
 #open{
    font-size: 20px;
    font-family: 'Questrial', sans-serif;
 }
 #add{
   font-size: 20px;
   font-family: 'Questrial', sans-serif;
}