body
{
    background-image:url('login.png'); 
    background-repeat: no-repeat;
  background-size: 1540px 754px; 
}
.cont{
text-align:center;
color:#042a3d;
font-size: 25px;
}
#login_title
{
   
    color:#da7f92;
    text-align: center;
     text-shadow: 2px 2px 4px #e6d3d7;
     font-family: 'Questrial', sans-serif;
     font-size: 45px;
     text-transform: uppercase;
     letter-spacing: 3px;
     word-spacing: 8px;
     margin-top:34px;
}
.container
{
    text-align:center;
    background-color:#dde9e3;
    opacity:50%;
    width:50%;
    height:350px;
    margin: auto;
    padding-top:10px;
    font-size: 25px;
  margin-left: auto;
  margin-right: auto; 
}

input[type=text], select, textarea {
    padding: 7px;
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
    resize: vertical;
}

button[type=submit] {
  background-color: rgb(223, 130, 176) ;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
#temp
{
    color: black;
    font-size: 15px;
}